@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-family: "Roboto", sans-serif;
	background-color: rgba(240, 240, 246, 1);
}
header{

	width: 100%;
	height: 80px;
	background: linear-gradient(to right, #85C9FA, #C2C2C2);
}
nav{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	height: 80px;
}
li:nth-last-child(n+2){
	width: 180px;
	display: inline-block;
	margin-right: 4rem;
}
li:nth-last-child(1){
	width: 180px;
	display: inline-block;
}
.logo{
	position: absolute;
	box-sizing: border-box;
	width: 10rem;
	height: 4.5rem;
	box-sizing: content-box;
	margin-left:3rem;
	margin-top: 1rem; 
}
.logo img{
	display: block;
	width: 100%;
}
.list{
	position: absolute;
	right: 2rem;
}
ul{	
	text-decoration: none;
}
nav ul{
	height: 4rem;
	list-style: none;
	display: flex;
	font-size: 1rem;
}
nav ul li{
	position: relative;
	padding: 0 0.5rem;
	transition: background-color .5s;
}
nav ul li a{
	position: absolute;
	text-align: center;
	top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.62);
    text-decoration: none;
} 
nav ul li a:hover{
	color: #017DD7;
}
nav ul li a:active{
	color: #017DD7;
}
.folder{
	margin-top: 2.5rem;
	margin-left: 4rem;
	width:70%;
	min-height:70vh;
	display: flex;
	flex-direction: column;
}
.files{
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.fa{
	margin-right: -2rem;
}

.create{
	width: 16rem;
}
.input{
	display: inline-block;
}
.icons{
	display: inline-block;
}
span{
	width: 400px;
}